/* General Style Rules*/

body {
  margin: 0;
}

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
}
/* styles specific to the setup of the card container */
.card {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: red;
    border: 0.2em solid black;
    border-radius: 1.5em;
  }

.card2 {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: grey;
    border: 0.2em solid black;
    border-radius: 1.5em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }


/* styles specific to the header and footer */
footer, header {
  height: 2em;  
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em; 
}

.card header{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
  }
  
.card footer{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
    border-radius: 0 0 1.5em 1.5em;
  }

.card2 header{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
  }
  
.card2 footer{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
    border-radius: 0 0 1.5em 1.5em;
  }
/* styles specific to the main business card contents */
.card article img {
    max-height: 100%;
    float: right;
  }

.card2 article img {
    max-height: 100%;
    float: right;
  }

h2, p {
      margin: 0em;
  }

p {
      font-size: 1.25em;
  }
  
h2 {
      font-size: 2em;
  }

article {
      height: 12em;
      background-color: darkred;
      color: white;
      padding: 1em;
  }

.card2 article {
    height: 12em;
    background-color: darkgrey;
    color: white;
    padding: 1em;
}