    body { 
        margin: 0;
        padding: 0;
    }

    .title {
        padding-bottom: 100px;
        text-align: right;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        font-size: x-large;
        background-image: url('img/symphony.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .title h1 {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        position: sticky;
        display: flex;
        margin-top: 1vw;
        padding-right: 2vw;
        padding-left:1vw;
        background-color: rgb(211,211,211, 0.25);
    }

    .intro {
        font-family: Arial, Helvetica, sans-serif;
        background-color: bisque;
        padding: none;
        border-radius: 10px;
        margin: 0 auto;
    }

    .intro h3 {
        font-size: 24px;
        color: black;
        margin-bottom: 20px;
    }
    
    .intro p {
        font-size: 16px;
        color: #666;
        line-height: 1.5;
        margin-bottom: 20px;
    }
    
    .intro img {
        max-width: 25%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

  
  
  
  
  
  

.events {
    font-family: helvetica;
}

@media only screen and (max-width: 600px) {
    .intro {
      flex-direction: column;
      align-items: center;
      grid-template-columns: 1fr;
      padding: 0;
    } 
    .intro img{
        width: 0%;
    }

  } 



