    body { 
        margin: 0;
        padding: 0;
    }

/* TITLE*/

    .title {
        padding-bottom: 100px;
        text-align: right;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        font-size: x-large;
        background-image: url('img/symphony.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .title h1 {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2rem;
        position: sticky;
        display: flex;
        margin-top: 1vw;
        padding-right: 2vw;
        padding-left:1vw;
        background-color: rgb(211,211,211, 0.25);
    }

/* Intro */

    .intro {
        font-family: Arial, Helvetica, sans-serif;
        background-color: bisque;
        background-size: cover;
        padding: 1em;
        margin: 10 auto;
    }


    .intro h2 {
        color: black;
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 10px;
        text-align: right;

    }
    
    .intro p {
        font-size: 1.25rem;
        color: #666;
        line-height: 1.5;
        padding: 20px;
        text-align: right;
    }
    
    .intro img {
        max-width: 18%;
        height: auto;
        display: block;
        float: left;
        margin-right: 10px;
        object-fit: cover;
    }

/* Events */

.event{
    display: grid;
    position: relative;
    top:-20px;
    grid-template-columns: 1fr 1fr; 
    padding: 30px;
    border-radius: 10px; 
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}

.event p {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    color:  black;
    padding-right: 35px;
}

.eventheader{
    display: flex; 
    justify-content: space-between;
    grid-column: span 2;
    align-items: center;
}

.eventheader h2 {
    font: cursive; 
    font-size: 24px;
    border-bottom: 3px solid black;
    margin-bottom: 20px;
}

.eventheader h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 20px;
    align-self: center;
    padding-left: 20px;
}

 /* featured artists */

.feature {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 75px;
    position: relative;
    top: -25px;
  }
  
.feature2 {
    margin-bottom: 20px;
  }

.ul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}











@media only screen and (max-width: 400px) {
    .intro h1 {
        font-size: 1.5rem;
        position: absolute;
    }
    .event{
        display:flex;
        flex-direction: column;
    }

    .eventheader {
        align-items: left; 
    }

    .event p {
        text-align: left;
    }

    .feature {
        align-items: left;
        padding-left: 0px;
    }

 
} 

@media only screen and (min-width: 1500px) {
    .title h1{
        font-size: 3.5rem;
    }

    .intro img {
        height: 200px;
    }

    .intro h2 {
        text-align: left;
    }

    .intro p {
        text-align: left; 
    }

    .event p {
        font-size: 1.25rem;
    }
}

