body {
    background-image: linear-gradient(to right, blue, orange);
}

h1 {
    font-family: helvetica;
    display: flex;
    color: white;
    justify-content: left;
    padding-left: 5vw;
}

h2 {
    font-family: helvetica;
    display: flex;
    color: white;
    justify-content: left;
    padding-left: 5vw;
}

#phoneInput {
    padding: 10px;
    font-size: large;
    border: 2px solid darkgrey;
    border-radius: 4px;
    margin-right: 1vw;
    margin-left: 5vw;
}

#phoneInput:focus {
    outline: none;
}

#resetButton, #enterButton {
    background-color: red; 
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-flex; 
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5vw;
}

#enterButton {
    background-color: green;
    margin-left: 2.5vw; 
}

#message {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: large;
    padding-top: 20px;
    margin-left: 5vw;
}
