body{
    background-color: khaki;
}

#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
}


#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;
    animation: box2move 3s infinite;
}

#box1:hover {
    background-color: purple;
}

@keyframes box2move{
        from {
            margin-left: 100%;
            width: 300%;
        }
        
        50% {
            color: greenyellow;
            font-size: 5vw;

        }

        100% {
            margin-left: 0%;
            width: 25vw;
        }
    }


